<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
    <ion-img src="../../../assets/image_register_page.svg" />
  </ion-header>
  <div class="title">
    <ion-title>Inscreva-se</ion-title>
    <ion-label>Crie uma conta para começar</ion-label>
  </div>
  <ion-list>
    <ion-item lines="none">
      <ion-input
        placeholder="Rafaela Barbosa de Souza"
        type="email"
        fill="outline"
        [(ngModel)]="name"
        [required]="true"
        >Nome</ion-input
      >
    </ion-item>
    <ion-item lines="none">
      <ion-input
        type="email"
        placeholder="rafaela@email.com"
        fill="outline"
        [(ngModel)]="email"
        [required]="true"
        >Endereço de Email</ion-input
      >
    </ion-item>
    <ion-item lines="none">
      <ion-input
        type="password"
        placeholder="Crie sua Senha"
        fill="outline"
        required="true"
        [(ngModel)]="password"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        type="password"
        placeholder="Confirme sua Senha"
        fill="outline"
        required="true"
        [(ngModel)]="passwordConfirm"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-label>
      <p>Já tem cadastro? <a href="/login">Entre agora</a></p>
    </ion-label>
  </ion-list>
  <br />
  <ion-label id="terms">
    <ion-checkbox />
    Li e concordo com os
    <a href="#" (click)="$event.NONE">Termos e Condições</a> e a
    <a href="#" (click)="$event.NONE">Política de Privacidade.</a>
  </ion-label>
  <ion-button
    expand="block"
    fill="solid"
    routerLink="/signup"
    (click)="onSignUp()"
    >Cadastra-se</ion-button
  >
</ion-content>
