<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
    <ion-title>Seu melhor espaço aqui!</ion-title>
    <ion-img src="../../../assets/image_login.svg" />
  </ion-header>
  <ion-list>
    <ion-item lines="none">
      <ion-input
        placeholder="favorite@sigma.com"
        type="email"
        fill="outline"
        [(ngModel)]="email"
        required
        >Endereço de Email</ion-input
      >
    </ion-item>
    <ion-item lines="none">
      <ion-input
        type="password"
        placeholder="Senha"
        fill="outline"
        [(ngModel)]="password"
        required
      >
        Senha
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-label
      ><p>Esqueceu a senha? <a href="#">Clique aqui</a></p></ion-label
    >
  </ion-list>
  <br />
  <ion-button
    expand="block"
    fill="solid"
    routerLink="/signup"
    (click)="onLogin()"
    >Entrar</ion-button
  >
  <br />
  <div class="others">
    <ion-label>
      <p>Não é registrado? <a href="/signup">Registra-se agora</a></p>
    </ion-label>
    <ion-item-divider />
    <ion-label>
      <p>Ou continuar com</p>
    </ion-label>
    <ion-buttons>
      <ion-button>
        <ion-icon name="logo-google" />
      </ion-button>
      <ion-button>
        <ion-icon name="logo-facebook" />
      </ion-button>
      <ion-button>
        <ion-icon name="logo-apple" />
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>
