<ion-content [fullscreen]="true">
  <ion-header>
    <ion-title>Seu melhor espaço aqui!</ion-title>
    <ion-img src="../../../assets/image_login.svg" />
  </ion-header>
  <ion-list>
    <ion-item lines="none">
      <ion-input placeholder="favorite@sigma.com" type="email" fill="outline"
        >Endereço de Email</ion-input
      >
    </ion-item>
    <ion-item lines="none">
      <ion-input type="password" placeholder="Senha" fill="outline">
        Senha
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" fill="outline" routerLink="/signup"
    >Entrar</ion-button
  >
  <ion-label>
    <p>não possui uma conta? <a href="/signup">Inscreva-se</a></p>
  </ion-label>
</ion-content>
