ion-content {
  ion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 40%;
    ion-title {
      display: contents;
      position: relative;
      width: fit-content;
      height: min-content;
      font-size: larger;
      font-weight: bold;
      text-align: center;
    }
    ion-img {
      width: 85%;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    margin: 0 auto;
  }
  ion-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
    background-color: transparent;

    margin: 0 auto;
    ion-item {
      --background: transparent;
      width: 100%;
    }
    ion-label {
      gap: 0;
      font-size: 1rem;
      font-weight: bold;
      width: 100%;
      text-align: right;
      padding-right: 3%;
    }
  }

  ion-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
  }

  ion-button {
    margin: 0 auto;
  }

  .others {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    * {
      width: 100%;
    }
    ion-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      ion-button {
        ion-icon {
          font-size: 2rem;
        }
      }
    }
  }
}
